<div class="post_container">
  <% @post.each do |post| %>
      <div class="cards">
        <div class="card">
          <div class="card-header">
            <%= truncate(post.title, length: 23) %>
          </div>
          <div class="card-image">
            <a href="<%= post_path(post) %>">
              <%= image_tag post.userShot.url(:large) %>
            </a>
          </div>
          <div class="card-bottom">
            <ul>
              <% if post.view_count > 0 %>
                    <li><%= fa_icon "eye" %> <%= post.view_count %></li>
                  <% else %>
                    <li><%= fa_icon "eye" %> 0</li>
              <% end %>

              <% if post.comments.count > 0 %>
                    <li><%= fa_icon "comment" %> <%= post.comments.count %></li>
                   <% else %>
                    <li><%= fa_icon "comment" %> 0</li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="card_user_info">
          <%= image_tag post.user.profile.avatar.url(:medium), class: "small_avatar" %> <%= link_to post.user.username, profile_path(post.user) %>
        </div>
      </div>
  <% end %>
</div>

<div class="pagination">
  <%= will_paginate @post %>
</div>
