<div class="card_head">
    <%= image_tag @post.user.profile.avatar.url(:medium), class: "medium_avatar" %><h1><%= @post.title %></h1>
    <small>by <%= link_to "#{@post.user.username}", profile_path(@post.user) %> <%= @post.created_at.strftime('%b %d, %Y') %></small> <% if @post.user == current_user %>| <%= link_to "Edit", edit_post_path %><% end %>
</div>

<div class="post_image">
  <%= image_tag @post.userShot %>
</div>

<div class="post_content">
  <p>
    <%= @post.content %>
  </p>
</div>

<div class="post_tags">
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</div>

<div class="response">
  <h2><%= pluralize(@post.comments.count, "Response") %></h2>
  <hr>
</div>

  <%= render @post.comments %>
  <% if user_signed_in? %>
    <%= render "comments/form" %>
  <% end %>
