<%= form_for @profile do |f| %>
	<% if @profile.errors.any? %>
		<h3><%= pluralize(@profile.errors.count, "Error") %> Prevents your profile from being updated</h3>

		<ul>
			<% @pprofile.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<%= f.label :avatar %>
	<%= image_tag @profile.avatar.url(:medium), class: "medium_avatar" %>
	<%= f.file_field :avatar %>

	<%= f.label :location %>
  	<%= f.text_field :location, placeholder: "Anywhere, US" %>

	<%= f.label :twitter %>
	<%= f.text_field :twitter, placeholder: "@username" %>

	<%= f.label :website %>
  	<%= f.text_field :website, placeholder: "Your site here" %>

	<%= f.label "Bio" %>
  	<%= f.text_field :tagline %>
	<span><%= f.check_box :available %><%= f.label :available, "For Hire?" %></span>

  <%= f.submit "Update Profile" %>

<% end %>
