<%= render "followers" %>

<div class="profile_head">
  <%= image_tag @user.profile.avatar.url(:medium), class: "medium_avatar" %>
  <h1><%= "#{@profile.user.username}" %></h1>
  <h2><%= @user.profile.tagline %></h2>
  <span><% if @user.profile.location? %><%= fa_icon "map-marker" %><%= @user.profile.location %><% end %></span>
  <span><% if @user.profile.website? %><%= fa_icon "globe" %><%= websiteHandler(@user.profile.website) %><% end %></span>
  <span><% if @user.profile.twitter? %><%= fa_icon "twitter" %><%= twitterHandle(@user.profile.twitter) %><% end %></span>
    
  <span><% @user.profile.available? %><%= fa_icon "envelope" %>Hire Me!</span>
</div>
<hr>

<div class="profile_posts">
  <% @user.posts.each do |post| %>
      <div class="cards">
        <div class="card">
          <div class="card-header">
            <%= truncate(post.title, length: 23) %>
          </div>
          <div class="card-image">
            <a href="<%= post_path(post) %>">
              <%= image_tag post.userShot %>
            </a>
          </div>
          <div class="card-bottom">
              <% if post.view_count > 0 %>
                <li><%= fa_icon "eye" %> <%= post.view_count %></li>
              <% else %>
                <li><%= fa_icon "eye" %> 0</li>
              <% end %>

              <% if post.comments.count > 0 %>
                <li><%= fa_icon "comment" %> <%= post.comments.count %></li>
              <% else %>
                <li><%= fa_icon "comment" %> 0</li>
              <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
