<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Home", root_path %></li>
        <li class="nav-link"><%= link_to "About Us", "#" %></li>
      </ul>
    </nav>

    <div class="navigation-tools">

      <div class="sign-up">
        <ul id="js-navigation-menu" class="navigation-menu show">
        <% if user_signed_in? %>
          <li class="nav-link more"><%= link_to "#{current_user.username}", "#" %>
            <ul class="submenu">
              
              <li><%= link_to "Profile", profile_path(current_user) %></li>
              <li><%= link_to "Edit Profile", edit_profile_path(current_user) %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          <li class="nav-link"><%= link_to "Create New Shot", new_post_path, class: "button" %></li>
        <% else %>
            <li class="nav-link"><%= link_to "Sign In", new_user_session_path %></li>
            <li class="nav-link"><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>

      <div class="search-bar">
        

      </div>
    </div>
  </div>
</header>
