<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
  <%= render 'layouts/navigation' %>
  <!--Hello, again. Friend of a friend, I knew you when...
  I come and go, was waiting for the world to end.
  Now that the truth is just a rule that you can bend.-->
  <div class="row-wrapper">
    <%= render "application/flashes" -%>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/_footer' %>
  </div>

</body>
</html>
